<footer class="footer">
   <div class="container">
     <div class="row">
       <div class="col-md-4">
         <h5>About Us</h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tellus a dui ullamcorper ullamcorper.</p>
       </div>
       <div class="col-md-4">
         <h5>Quick Links</h5>
         <ul class="list-unstyled">
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Services</a></li>
           <li><a href="#">Contact</a></li>
         </ul>
       </div>
       <div class="col-md-4">
         <h5>Contact Us</h5>
         <p>Email: info.example.com</p>
         <p>Phone: +1234567890</p>
       </div>
     </div>
     <div class="row mt-4">
       <div class="col-md-12 text-center">
         <p>&copy; 2024 Cool Footer. All rights reserved.</p>
       </div>
     </div>
   </div>
 </footer>